$sky: linear-gradient(
  0deg,
  transparent,
  transparent,
  #45f3ff,
  #45f3ff,
  #45f3ff
);
$cherry: linear-gradient(
  0deg,
  transparent,
  transparent,
  #ff2770,
  #ff2770,
  #ff2770
);
@mixin virtual {
  position: absolute;
  top: -50%;
  left: -50%;
  right: 380px;
  bottom: 420px;
  width: 380px;
  height: 420px;
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
